/** CSS STYLE **/

.block {
  width: 1440px;
  height: 914px;
  display: flex;
  flex-direction: column;
}

.h1 {
  font-weight: 400;
  font-size: 72px;
  line-height: 86.4px;
  letter-spacing: 0%;
}

.h1-orange {
  font-family: 'Neucha';
  line-height: 86.4px;
  letter-spacing: 0;
  color: #FE8A02;
}

.h1-black {
  font-family: 'Neucha', cursive;
  letter-spacing: 0;
  line-height: 100%;
  margin-bottom: 8px;
  color: #2A2626;
}

p {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: 0%;
  vertical-align: bottom;
}

.hello {
  display: block;

  color: #fff;
}
